.main {
  background-color: $white;
  margin: 0 50px 20px 50px;
  padding-left: 15px;

  ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;

    li {
      display: flex;

      p {
        margin-top: 0;
      }

      section {
        display: flex;
        flex-direction: column;
        margin: 0 0 1em 5em;
        padding: 1em;
        background-color: $gray-light;

        p:first-child {
          font-weight: bold;
        }
      }
    }
  }
}
.about-me-title {
  color: $primary-color;
  font-weight: bold;
  font-size: 16px;
}
.education-title {
  color: $primary-color;
  font-weight: bold;
  font-size: 16px;
}
